<h1>B-Team Photography</h1>

<p>We're honored to be your photographer!</p>

<p><%= link_to "Click here to confirm your account setup.", '#' %></p><br/>

<h3>"What can I do with my bteamphoto.com account?"</h3>

<ul>
  <li>Edit your event details (such as locations, start times, etc.)</li>
  <li>Make secure credit card payments towards your balance.</li>
  <li>View your web galleries.</li>
  <li>Create a review of our services (we like to know how we're doing).
</ul>