<p class="medium-text">Baby and Children Portraiture</p>
<p class="justified">

	Hello! I'm Allie Buczek, a professional portrait photographer based in Central New York and mother of a gorgeous little girl. It's not everyday you get to combine two passions into one, so I feel blessed that I get to create beautiful photographs of the joys of motherhood!
	<br/><br/>

	When photographing these bundles of joy, it's important to do so in a comfortable, safe atmosphere. That's why I give you the option of visiting my cozy, in-home studio or having me come to you. Each child is different, so I'll always be working patiently towards achieving the best possible images.
	<br/><br/>
	
	Click or touch the phone number or email address above to get in touch with me today! I can't wait to meet you and your little one!

</p>