<p class="medium-text">Meet the B's</p>
<p class="justified">

	Finding your soulmate is wonderful, but being able to share a passion together is truly extraordinary. Our love of photography is actually how we first met, and through it, we found that our love for each other was even greater. Ever since then we've been enveloped in both our own love story and in re-creating the love stories of our clients through our photography.<br/><br/>

	We love what we do, and hope to have the honor of proving it to you first-hand!

	<img class="image-centered" src="http://bteamphoto.com/images/contact/meetTheBs.jpg">

</p>