<p class="medium-text">Meet the B's</p>
<p class="justified">

	Hello! We are Joey and Allie Buczek, a husband and wife team of professional wedding photographers based in Central New York. Being married ourselves, we know a thing or two about what it takes to make your big day memorable and fun! 
	<br/><br/>

	We believe in going beyond just recording images of your wedding, we re-create the story of your big day in compelling photographs that will make you relive those precious moments. It’s our goal that years from now, when you turn through the pages of your album, those wonderful feelings and emotions you felt will come flooding back to you. 
	<br/><br/>

	In addition to the highlights of the day's events, we always look out for all those candid moments that will help bring your story to life. The smallest details don't go unnoticed.
	<br/>

	<img class="image-centered" src="http://bteamphoto.com/images/contact/meetTheBs.jpg">

</p>