<p class="medium-text">Wedding experts</p>
<p class="justified">

	Hello! We are Joey and Allie Buczek, a husband and wife team of professional wedding photographers based in Central New York. Being married ourselves and with several decades' worth of collective photographic experience, we know a thing or two about what it takes to create great wedding photographs! 
	<br/><br/>

	We treat every wedding as though it was our own, taking extra care to capture all the moments both big and small. To us, the mother of the bride wiping a tear away is just as important to record as the kiss. It’s our goal that years from now, when you turn through the pages of your album, all those wonderful feelings and emotions you felt will come flooding back to you. 
	<br/><br/>

	Our style is of an unobtrusive, journalistic nature, so we won't be the center of attention or distracting. After all, this day is all about you! Click or touch the phone number or email address above to get in touch with us today!
	<br/>

	<div class="panel callout radius secondary">
		<span class="callout-text">PS: We recently upgraded our site so that now you can log in to edit your wedding details, view galleries, and make online payments towards your balance - all in one place! It's really quite snazzy!</span>
	</div>

</p>