<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: sans-serif;">
    
    <h1 style="color: indigo;">B-Team Photography Account Invitation</h1>
    <p>We're honored to be your photographer!</p>

    <p><%= link_to "Click here to accept your account invitation.", @url %></p><br/>
    
    <p>Use your email address to log in. Your initial, temporary password is: <%= @temporary_password %></p><br/>

    <h3 style="color: indigo;">"What can I do with my bteamphoto account?"</h3>

    <ul>
      <li>Edit your event details (such as locations, start times, etc.)</li>
      <li>Make secure credit card payments towards your balance.</li>
      <li>View your web galleries.</li>
      <li>Create a review of our services (we like to know how we're doing).</li>
    </ul>
    
  </body>
</html>