<div id="index-wrapper">

	<!-- AngularJS Content Area -->
	<div ng-app="indexApp" ng-controller="IndexCtrl as ctrl">

		<!-- Gallery -->
		<div id="gallery-marker" class="ng-cloak">

			<div ui-view="gallery"></div>

		</div>

		<!-- Contact Bar -->
		<div id="contact-bar">

			<div class="right contact-bar-text">
				
				<!-- 
				<a class="contact-bar-text contact-bar-link nudge-down-10" ui-sref="wedding">Weddings</a>
				<a class="contact-bar-text contact-bar-link nudge-down-10" ui-sref="children">Children</a>
				-->
				
				<div ng-init="ctrl.genre = 'wedding'">
					<select ng-model="ctrl.genre" 
							ng-change="ctrl.changeState(ctrl.genre)"
							class="select-genre secondary radius nudge-down-15">
						<option value="wedding">Wedding</option>
						<option value="children">Babies/Children</option>
					</select>
				</div>
				

			</div>

			<!-- Contact Links -->
			<%= link_to '315.632.2442', 'tel://1-315-632-2442', class: 'contact-bar-text contact-bar-phone-number' %>
			<br/>
			<%= link_to 'bteamphoto@gmail.com', '#', class: 'contact-bar-text contact-bar-link nudge-up-10' %>
			
		</div>


		<!-- Company Info -->
		<div class="row margin-top-10">

			<!-- Left column -->
			<div class="large-6 columns">
				<div class="section-genre wedding">

					<!-- Genre Info View -->
					<div ui-view="genre_info"></div>

				</div>

				<!-- Reviews -->
				<div class="section-reviews wedding">
					<p class="medium-text">What our clients are saying!</p>
					<div class="ng-cloak">

					</div>
				</div>

			</div>

			<!-- Right column -->
			<div class="large-6 columns">
				<div class="section-about wedding">

					<!-- About View -->
					<div ui-view="about"></div>

				</div>
			</div>

		</div>
	</div>
</div>