<div id="index-wrapper">

	<!-- AngularJS Content Area -->
	<div ng-app="IndexApp" ng-controller="IndexCtrl as ctrl">

		<!-- Gallery -->
		<div id="gallery-marker" class="ng-cloak">

			<div ui-view="gallery"></div>

		</div>

		<!-- Contact Bar -->
		<div id="contact-bar">

			<!-- Select Box (genre) -->
			<div class="right contact-bar-text">	
				<div ng-init="ctrl.genre = 'wedding'">
					<select ng-model="ctrl.genre" 
							ng-change="ctrl.changeState(ctrl.genre)"
							class="select-genre secondary radius nudge-down-15">
						<option value="wedding">Wedding</option>
						<option value="children">Babies/Children</option>
					</select>
				</div>
			</div>

			<!-- Contact Links -->
			<phone-number phone="'1-315-632-2442'" display="'315.632.2442'"></phone-number>
			<br/>
			<email-address addy="'bteamphoto@gmail.com'" subject="'Hello B-Team! We are in need of a photographer...'"></email-address>
			
		</div>


		<!-- Company Info -->
		<div class="row margin-top-10">

			<!-- Left column -->
			<div class="large-6 columns">
				<div class="section-genre">

					<!-- Genre Info View -->
					<div ui-view="genre_info"></div>

				</div>

				<!-- Reviews -->
				<div class="section-reviews">
					<p class="medium-text">What our clients are saying!</p>
					<div class="ng-cloak">

					</div>
				</div>

			</div>

			<!-- Right column -->
			<div class="large-6 columns">
				<div class="section-about">

					<!-- About View -->
					<div ui-view="about"></div>

				</div>
			</div>

		</div>
	</div>
</div>