<!-- Gallery -->
<div id="gallery-marker">

	<div class="test-image">
		TEST IMAGE
	</div>

</div>


<!-- Contact Bar -->
<div id="contact-bar">
	<%= link_to '315.632.2442', 'tel://1-315-632-2442', class: 'contact-bar-text contact-bar-link contact-bar-phone-number' %>
	<br/>
	<%= link_to 'bteamphoto@gmail.com', '#', class: 'contact-bar-text contact-bar-link nudge-up-10' %>
</div>


<!-- Company Info -->
<div class="row margin-top-10">

	<!-- Left column -->
	<div class="large-6 columns">
		<div class="section-genre wedding">
			<p class="medium-text">Wedding experts</p>
			<p class="justified">

				Your wedding day will stay with you forever. From walking down the aisle, to the first kiss as a married couple, and then swaying in each other's arms to that song you've been waiting to hear all night. You'll always remember your big day, so you need to ensure that you'll be able to keep those memories as vivid as though it had just happened. That's where we come in.
				<br/><br/>

				We're not just wedding photographers, we're also married ourselves, so we know how special this day is for you. We've gone through all the steps you're going through now, and then some; from the engagement, to the ceremony, and then into the years afterwards. We cherish every memory. Our goal is to create your visual wedding story so that you, too, can relive it for years to come.
				<br/><br/>

				You have a hundred and one decisions to make right now. While choosing a wedding photographer is one of the most important ones, it shouldn't be a complicated process. We like to make it easy. From the initial meeting to the printing of the final album, we guide you through every step, and will answer any questions you may have. This is our passion, and have being doing it for a long time, and that means you've got one less thing to worry about.
				<br/><br/>

				Your wedding will be unique and personalized to you. We feel your photography should be as well. When we meet with you we'll go over all the exciting details together and create a customized package just for you. This ensures that your specific needs will be met instead of trying to work around something that's pre-determined. After all, this day is all about you!

			</p>
		</div>

		<!-- Reviews -->
		<div>
			<div class="section-reviews wedding">
				<p class="medium-text">What our clients are saying!</p>
				<p class="justified">

				</p>
			</div>
		</div>
	</div>

	<!-- Right column -->
	<div class="large-6 columns">
		<div class="section-about wedding">
			<p class="medium-text">Meet the B's</p>
			<p class="justified">

				Hello! We are Joey & Allie Buczek, a husband and wife team of professional wedding photographers based in Central New York. Being married ourselves, we know a thing or two about what it takes to make your big day memorable and fun! 
				<br/><br/>

				We believe in going beyond just recording images of your wedding, we re-create the story of your big day in compelling photographs that will make you relive those precious moments. It’s our goal that years from now, when you turn through the pages of your album, those wonderful feelings and emotions you felt will come flooding back to you. 
				<br/><br/>

				In addition to the highlights of the day's events, we always look out for all those candid moments that will help bring your story to life. The smallest details don't go unnoticed.
				<br/>

				<span class="centered"><img src="http://bteamphoto.com/images/contact/meetTheBs.jpg"></span>

			</p>
		</div>
	</div>

</div>
