<!-- Gallery -->
<div id="gallery-marker">

	<p>TEST IMAGE</p>

</div>

<!-- Contact Bar -->
<div id="contact-bar">
	<%= link_to '315.632.2442', '#', class: 'contact-bar-text contact-bar-link contact-bar-phone-number' %>
	<%= link_to 'bteamphoto@gmail.com', '#', class: 'contact-bar-text contact-bar-link' %>
</div>









<div class="row">
  <div class="small-10 small-centered large-10 large-uncentered columns">

    <p class="large-text">Welcome to B-Team Photography!</p>
    
  </div>
</div>
