<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">

  	<p class="large-text">New Portrait Session</p>

  	<%= render partial: 'portraitform', locals: { portrait: @portrait, user: @user } %>

  	<%= link_to 'Back', :back %>

	</div>
</div>