<div class="row">
  <div class="small-10 small-centered large-6 large-uncentered columns">
    
    <%= render partial: 'weddinginfo', locals: { wedding: @wedding } %>
    
    <% if current_user.admin? %>
      <%= link_to 'Back to Client Index', users_path %>
    <% else %>
      <%= link_to 'Back', client_landing_path(current_user) %>
    <% end %>
    
    <br/><br/>
    
  </div>
</div>
