@import "foundation_and_overrides";

// Testing 123
.test-wrap {
  border: 1px solid blue;
  background-color: grey;
}

// AngularJS 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Font and text
p, a, span, label, i, b, button, input {
  font-family: 'Raleway', sans-serif;
  color: indigo;
}
.large-text {
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  margin: 20px 0;
}
.medium-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  margin: 20px 0;
}
.temp-password-text {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  color: white;
  margin-bottom: 0;
}
.subdued-text {
  color: #777777;
}
a {
  text-decoration: none;
}
a:hover {
  color: #C9B2DA;
}
.white-text {
  color: #FFFFFF;
}
.justified {
  text-align: justify;
}
.centered {
  text-align: center;
}

// Dimensions and Offsets
.clear-margin {
  margin: 0;
}
.clear-padding {
  padding: 0;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.nudge-up-2 {
  position: relative;
  top: -2px;
}
.nudge-up-10 {
  position: relative;
  top: -10px;
}
.nudge-down-10 {
  position: relative;
  top: 10px;
}
.nudge-down-15 {
  position: relative;
  top: 15px;
}

// Tables
.table-width-100 {
  width: 100%;
}
.table-header-width-100 {
  width: 100%;
}
.table-header-width-75 {
  width: 75%;
}
.table-header-width-25 {
  width: 25%;
}

// Forms
input {
  border: 1px solid #C9B2DA;
  border-radius: 3px;
  // height: 1.5em;
  padding: 3px;
  color: indigo;
}
.time-select {
  display: inline-block;
}
.form-clear-float{
  clear: both;
  margin-bottom: 0;
}
select {
  width: 30%;
  margin-right: 2px;
  float: left;
}
.select-date-wrapper{
  select:first-of-type{
    width: 45%;
  }
  select:nth-of-type(2){
    width: 20%;
  }
  select:last-of-type{
    margin-right: 0;
  }
}
.form-bg-color {
  background-color: #EDE6F2;
  border-radius: 5px;
}

// Index View
#gallery-wrapper {

}
.gallery-container {
  height: auto;
}
#gallery-marker {
  width: 100%;
  height: auto;
  background-color: #000;
  overflow: hidden;
}
.gallery-image {
  width: 100%;
}
#contact-bar {
  background-color: indigo;
  height: 70px;
  width: 100%;
  padding: 0 20px;
}
.contact-bar-text {
  color: white;
  margin: 0 0 0 10px;
}
.contact-bar-link {
  font-size: 14pt;
}
.contact-bar-phone-number {
  font-size: 24pt;
}
.next-image, .prev-image {
  position: absolute;
  padding: 0px 60px 380px;
}
@media (max-width: 800px) {
  .next-image, .prev-image {
    padding: 0px 60px 280px;
  }
}
@media (max-width: 600px) {
  .next-image, .prev-image {
    padding: 0px 60px 160px;
  }
  .contact-bar-phone-number {
    font-size: 20pt;
    position: relative;
    top: 5px;
  }
  .contact-bar-link {
    font-size: 12pt;
    position: relative;
    top: -5px;
  }
}
.prev-image {
  left: 1%;
  padding-left: 20px;
  padding-right: 100px;
  cursor: w-resize;
}
.next-image {
  right: 1%;
  padding-left: 100px;
  padding-right: 20px;
  cursor: e-resize;
}
.arrow-icon {
  color: #eee;
  position: relative;
  top: 20px;
  text-shadow: 2px 2px 2px #333;
  margin: 0;
}
.select-genre {
  width: 120px;
  font-size: 12px;
}
.wedding {

}
.section-genre {

}
.section-about {

}
.section-reviews {
  
}

// Images
.thumbnail {
  width: 256px;
}
.thumbnail-tiny {
  width: 100px;
  margin: 2px 0;
}
.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}






