@import "foundation_and_overrides";

// Font and text
p, a, span, label, i, b, button, input {
  font-family: 'Raleway', sans-serif;
  color: indigo;
}
.large-text {
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  margin: 20px 0;
}
.medium-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  margin: 20px 0;
}
.temp-password-text {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  color: white;
  margin-bottom: 0;
}
.subdued-text {
  color: #777777;
}
a {
  text-decoration: none;
}
a:hover {
  color: #C9B2DA;
}
.white-text {
  color: #FFFFFF;
}

// Forms
input {
  border: 1px solid #C9B2DA;
  border-radius: 3px;
  // height: 1.5em;
  padding: 3px;
  color: indigo;
}
.time-select {
  display: inline-block;
}
.form-clear-float{
  clear: both;
  margin-bottom: 0;
}
select {
  width: 30%;
  margin-right: 2px;
  float: left;
}
.select-date-wrapper{
  select:first-of-type{
    width: 45%;
  }
  select:nth-of-type(2){
    width: 20%;
  }
  select:last-of-type{
    margin-right: 0;
  }
}
.form-bg-color {
  background-color: #EDE6F2;
  border-radius: 5px;
}

