@import "foundation_and_overrides";

// Font and text
p, a, span, label, i, b, button, input {
  font-family: 'Raleway', san-serif;
  color: indigo;
}
.large-text {
  font-family: 'Raleway', san-serif;
  font-size: 28pt;
  margin: 20px 0;
}
.medium-text {
  font-family: 'Raleway', san-serif;
  font-size: 18pt;
  margin: 20px 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #C9B2DA;
}

// Forms
input {
  border: 1px solid #C9B2DA;
  border-radius: 3px;
  height: 1.5em;
  padding: 3px;
  color: indigo;
}

